{% extends "nav.html" %}

{% block title %}
Receptor
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hdr> Receptor Name </hdr>
            <p> {{rec.name|safe}} </p>
        </div>
        <div class="col">
            <script>
                let molBlock = "{{ empty|safe }}";
                let molFile = ChemDoodle.readMOL(molBlock);
                let transformer = new ChemDoodle.TransformCanvas3D('transformer', 400, 400, true);
                transformer.styles.backgroundColor = '#AFDAF7';
                transformer.styles.bonds_color = '#394B41';
                transformer.emptyMessage = 'No Data Loaded!';
                transformer.loadMolecule(molFile);

                 //an array of Point that will keep track of the path
                 transformer.dragPath = [];
                 //save the old handler
                 transformer.oldDrag = transformer.drag;
                 //define the new handler
                 transformer.drag = function(e){
                 //notice that you can use the "this" keyword in an object's function to access its variables
                 this.dragPath[transformer.dragPath.length] = e.p;
                 //call the old handler
                 this.oldDrag(e);
                 }
            </script>
        </div>
    </div>


</div>

{% endblock %}