{% extends "nav.html" %}

{% block title %}
Receptor
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hdr> Receptor Name </hdr>
            <p> {{rec.name|safe}} </p>
        </div>
        <div class="col">
            <script>
                let prot = new
                ChemDoodle.io.file.content('{{rec.pdb_file}}', function(fileContent) {
                    let prot = ChemDoodle.readPDB(fileContent);
                    alertMolecule(mol);
                });
                let protein = new ChemDoodle.TransformCanvas3D('protein', 400, 400);
                protein.styles.set3DRepresentation('Ball and Stick');
                protein.styles.atoms_useJMOLColors = true;
                protein.styles.backgroundColor = '#AFDAF7';
                protein.styles.surfaces_color = '#394B41';
                protein.emptyMessage = 'No Data Loaded!';
                protein.loadMolecule(prot);



                 //an array of Point that will keep track of the path
                 protein.dragPath = [];
                 //save the old handler
                 protein.oldDrag = transformer.drag;
                 //define the new handler
                 protein.drag = function(e){
                 //notice that you can use the "this" keyword in an object's function to access its variables
                 this.dragPath[protein.dragPath.length] = e.p;
                 //call the old handler
                 this.oldDrag(e);
                 }
            </script>
        </div>
    </div>


</div>

{% endblock %}