{% extends "nav.html" %}

{% block title %}
Receptor Set
{% endblock %}

{% block content %}
<div class = "container">
    <div class="row">
        <div class="col-6">
            <hdr class="customHeader">
                Receptor Set
            </hdr>
            {% for rec in rec_set['receptor'] %}

                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-body">
                               <a class="stretched-link" href="/rec/{{rec.name}}">{{ rec.name }}</a>
                            </div>
                        </div>
                    </li>
                </ul>

            {% endfor %}
        </div>
        <div class="col-4">
            <hdr class="customHeader">
                    Rec Set Properties
            </hdr>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="col">Size</th>
                    <td> {{ props['size'] }} </td>
                </tr>
                <tr>
                    <th scope="col">Something</th>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="col">Somrthing Else</th>
                    <td>0</td>
                </tr>
                </tbody>
           </table>
    </div>
    </div>
</div>
{% endblock %}
