{% extends "nav.html" %}

{% block title %}
Setup
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form action="#" method="POST">
                <table>
                    <tr>
                        <td>
                            Ligand File
                        </td>
                        <td>
                            <input type="text" name="lig file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Receptor File
                        </td>
                        <td>
                            <input type="text" name="rec file"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Results Folder
                        </td>
                        <td>
                            <input type="text" name="result folder">
                        </td>
                    </tr>
            </table>
                <input type="submit" class="btn btn-block" value="Upload" name="upload"/>
            </form>

        </div>
        <div class="col">
            <h3> Gypsum-DL Dock Prep </h3>
            <form action="#" method="POST">

            </form>
        </div>
    </div>
</div>

{% endblock %}